In [3]:
import psycopg2


print("Para realizar su busqueda del libro, debe escoger un digito \n 0 = Id, \n 1 = Título, \n 2 = Subtítulo, \n 3 = fecha de publicación,  \n 4 = descripcion, \n 5 = un editor, \n 6 =autor, \n 7 =categoria libro ")
busqueda = int(input())
print("valor introducido ",busqueda)

conn = psycopg2.connect("dbname=biblioteca user=postgres password=arone host=localhost")

cur = conn.cursor()

var1 = 100
if busqueda == 0:
    print("Id  clave de busqurda")
    value =int(input())
elif busqueda == 3:
    print("Fecha clave de busqueda")
    value =int(input())
elif busqueda == 6:
    print("Nombre")
    value =input()
    print("Apellido")
    value2 =input()
else:
    print("Palabra clave de busqueda")
    value =input()  
    
    
# define the function blocks
def Id():
    cur.execute ("SELECT * FROM libro WHERE id LIKE %s;", [value]);

def Titulo():
    cur.execute ("SELECT libro.id, libro.titulo, libro.subtitulo, libro.fecha_publicacion, libro.descripcion, libro.un_editor, autor.nombre, autor.apellido, categoria.tipo  FROM libro INNER JOIN autor ON libro.cautor1 = autor.cautor  INNER JOIN categoria ON libro.ccategoria1 = categoria.ccategoria WHERE titulo LIKE %s;", [value]);

def Subtitulo():
    cur.execute ("SELECT libro.id, libro.titulo, libro.subtitulo, libro.fecha_publicacion, libro.descripcion, libro.un_editor, autor.nombre, autor.apellido, categoria.tipo  FROM libro INNER JOIN autor ON libro.cautor1 = autor.cautor  INNER JOIN categoria ON libro.ccategoria1 = categoria.ccategoria WHERE subtitulo LIKE %s;", [value]);

def fechapublicacion():
    cur.execute ("SELECT libro.id, libro.titulo, libro.subtitulo, libro.fecha_publicacion, libro.descripcion, libro.un_editor, autor.nombre, autor.apellido, categoria.tipo  FROM libro INNER JOIN autor ON libro.cautor1 = autor.cautor  INNER JOIN categoria ON libro.ccategoria1 = categoria.ccategoria WHERE fecha_publicacion LIKE %s;", [value]);

def descripcion():
    cur.execute ("SELECT libro.id, libro.titulo, libro.subtitulo, libro.fecha_publicacion, libro.descripcion, libro.un_editor, autor.nombre, autor.apellido, categoria.tipo  FROM libro INNER JOIN autor ON libro.cautor1 = autor.cautor  INNER JOIN categoria ON libro.ccategoria1 = categoria.ccategoria WHERE descripcion LIKE %s;", [value])   
    
def uneditor():
    cur.execute ("SELECT libro.id, libro.titulo, libro.subtitulo, libro.fecha_publicacion, libro.descripcion, libro.un_editor, autor.nombre, autor.apellido, categoria.tipo  FROM libro INNER JOIN autor ON libro.cautor1 = autor.cautor  INNER JOIN categoria ON libro.ccategoria1 = categoria.ccategoria WHERE un_editor LIKE %s;", [value])  
    
def autor():
    cur.execute ("SELECT libro.id, libro.titulo, libro.subtitulo, libro.fecha_publicacion, libro.descripcion, libro.un_editor, autor.nombre, autor.apellido, categoria.tipo  FROM libro INNER JOIN autor ON libro.cautor1 = autor.cautor  INNER JOIN categoria ON libro.ccategoria1 = categoria.ccategoria WHERE nombre LIKE '%javier%' AND apellido LIKE '%rojas%' ;")    

def tipo():
    cur.execute ("SELECT libro.id, libro.titulo, libro.subtitulo, libro.fecha_publicacion, libro.descripcion, libro.un_editor, autor.nombre, autor.apellido, categoria.tipo  FROM libro INNER JOIN autor ON libro.cautor1 = autor.cautor  INNER JOIN categoria ON libro.ccategoria1 = categoria.ccategoria WHERE tipo LIKE %s;", [value])
    # map the inputs to the function blocks
options = {0 : Id,
           1 : Titulo,
           2 : Subtitulo,
           3 : fechapublicacion,
           4 : descripcion,
           5 : uneditor,
           6 : autor,
           7 : tipo,
           
}
options[busqueda]()

rows = cur.fetchall()
print(rows)
conn.close()

print("\n Desea borrar libro, \n 0 = Borrar, \n 1 = No borrar, ")
borrar = int(input())

if borrar == 0:
    print("escriba el nombre del libro para borrar registro")
    value =input()
    conn = psycopg2.connect("dbname=biblioteca user=postgres password=arone host=localhost")
    cur = conn.cursor()
    cur.execute ("DELETE FROM libro WHERE titulo LIKE %s;", [value]);
    conn.close()
elif borrar == 1:
    print("No Borrar registro")

Para realizar su busqueda del libro, debe escoger un digito
 0 = Id,
 1 = Título,
 2 = Subtítulo,
 3 = fecha de publicación,
 4 = descripcion,
 5 = un editor,
 6 =autor,
 7 =categoria libro
6
valor introducido  6
Nombre
1
Apellido
1
[(Decimal('1'), 'programar', 'perrita', None, 'perrita', 'perrita', 'javier', 'rojas', 'terror')]

 Desea borrar libro,
 0 = Borrar,
 1 = No borrar,
0
escriba el nombre del libro para borrar registro
programar

In [ ]:
SELECT libro.id, autor.nombre, autor.apellido FROM libro INNER JOIN autor ON libro.cautor1 = autor.cautor where titulo LIKE '#programar#';

In [ ]:
SELECT libro.id, libro.titulo, autor.nombre, autor.apellido FROM libro INNER JOIN autor ON libro.cautor1 = autor.cautor

In [ ]:
SELECT libro.id, libro.titulo, autor.nombre, autor.apellido, categoria.tipo  FROM libro INNER JOIN autor ON libro.cautor1 = autor.cautor  INNER JOIN categoria ON libro.ccategoria1 = categoria.ccategoria

In [ ]:
'%er%'
SELECT libro.id, libro.titulo, autor.nombre, autor.apellido, categoria.tipo  FROM libro INNER JOIN autor ON libro.cautor1 = autor.cautor  INNER JOIN categoria ON libro.ccategoria1 = categoria.ccategoria WHERE tipo LIKE '%terror%'

In [ ]:
SELECT libro.id, libro.titulo, libro.subtitulo, libro.fecha_publicacion, libro.descripcion, libro.un_editor, autor.nombre, autor.apellido, categoria.tipo  FROM libro INNER JOIN autor ON libro.cautor1 = autor.cautor  INNER JOIN categoria ON libro.ccategoria1 = categoria.ccategoria WHERE nombre LIKE '%javier%' AND apellido LIKE '%rojas%' ;